<launch>

	<node pkg="stage_ros" type="stageros" name="stage" args="/home/sergi/catkin_ws/src/auction/launch/world_files/1_robots.world"/>
	<node pkg="vfh_simple" type="vfh_simple" name="vfh" output="screen">
		<param name="scan_topic" value="base_scan_1"/>

		<param name="m_max_speed" value="700"/>
		<param name="m_max_acceleration" value="100"/>
		<param name="m_weight_desired_dir" value="10"/>
		<param name="m_weight_current_dir" value="0.5"/>

	</node>


	<!-- <include file="$(find auction)/launch/launch_1_robot.launch">
		<arg name="robot_name" value="robot_0"/>
	</include> -->

</launch>