<launch>

    <node pkg="stage_ros" type="stageros" name="stage" args="/home/sergi/catkin_ws/src/auction/launch/world_files/3_robots.world"/>
	<include file="$(find auction)/launch/launch_1_robot_vfh.launch">
		<arg name="robot_name" value="robot_0"/>
	</include>

    <include file="$(find auction)/launch/launch_1_robot_vfh.launch">
		<arg name="robot_name" value="robot_1"/>
	</include>

	<include file="$(find auction)/launch/launch_1_robot_vfh.launch">
		<arg name="robot_name" value="robot_2"/>
	</include>


</launch>
